feedparser>=6.0.10
schedule>=1.2.1
python-dotenv==1.0.0
confluent-kafka>=2.3.0
# connection pooling, we have to use binary version of the this dependency as docker will not have
# required system librarie psycopg[c]
psycopg[binary,pool]>=3.1.0,<4.0.0

uvicorn[standard]>=0.18.3
python-multipart==0.0.9
hvac>=2.1.0,<3.0.0
pydantic>=2.0
httpx==0.27.1
pytest==8.0.0
pytest-cov==4.1.0           # Coverage reporting
pytest-asyncio==0.23.0      # For async test support
pytest-mock==3.12.0         # Mocking
